*{
    margin: 0px;
    padding: 0;
}
.imagen_navbar{
    width: 100%;
    height: auto;
}
/* PARA USAR MAP DE COLORES
$colors: 
    crimson: #8d230f,
    forest: #1e434c,
    rust: #9b4f0f ,
    gold: #c99e10,
) */
 body{
    background: radial-gradient(#8d230f, #1e434c, #9b4f0f, #c99e10 );
    
 }  
 .filapromo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
.tarjetapromo{
    width: 300px;
    height: 300px;
    background: radial-gradient( white 70%, #1e434c );
}
p, ul>li,h1,h2,h3,h4,h5{
    color: aliceblue;
}
footer{
    background-color: #1e434c;
}
li{
    list-style: none;
}
.carrete{
    height: auto;
    width: 800px;
    margin: 20px;
}
@media (max-width: 450px){
    .carrete{
        width: 98%;
        height: auto;
        margin: 5px;
        padding: 0px;
        border:solid #c99e10 1px ;
    }
}
.menucarta{
    width: 400px;
    border: solid black 1px;
    text-align: center;
    margin:30px;

}
.titulopag{
    text-align: center;
    text-decoration: underline;
}
.carta{
    display: flex;
    justify-content: center;
    /* background-image: url(../complements/images/bgnd-menu.jpg); */
    background: linear-gradient(to bottom right, #c99e10, #6d5300);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
}
.tabla{
    text-align: center;
}
.icons{
    width: 50px;
    height: 50px;
}
.card{
    text-align: center;
    background: linear-gradient(green,rgb(9, 73, 9),green);
}
.card-header{
    font-size: large;
}