*{
    margin: 0px;
    padding: 0;
}
.imagen_navbar{
    width: 100%;
    height: auto;
}
/* PARA USAR MAP DE COLORES
$colors: 
    crimson: #8d230f,
    forest: #1e434c,
    rust: #9b4f0f ,
    gold: #c99e10,
) */
 body{
    /* background: radial-gradient(#8d230f, #1e434c, #9b4f0f, #c99e10 ); */
    background: radial-gradient(#8d230f, #1e434c, #9b4f0f, #c99e10 );
    overflow-x: hidden;
 }  
 .filapromo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
 }
.tarjetapromo{
    width: 300px;
    height: 300px;
    background: radial-gradient( white 70%, #1e434c );
    display: flex;
    flex-direction: column;
    
}
h1,h2,h3,h4,h5{
    color:  #f3e9c6;
    text-decoration: underline;
}

footer{
    background-color: #1e434c;
}
.active{
    background: linear-gradient(#8d230f, #1e434c );
}
ul>li{
    list-style-type: square;
    color: rgb(44, 44, 44);
    text-decoration: none;
    font-weight: bold;

}
p, .lindex{
    color:  #f3e9c6;
}
.nav-item{
    text-decoration: none;
}
.gridcontacto{
    border-radius: 8px;
    border: solid 1px #292522;
    text-align: center;

}
.carrete {
    border: solid 1px #8d230f;
    height: auto;
    width: 100%;
    margin: 2px;
}
.carousel-item, .fotocarousel{
    width: 100%;
    height: 800px;
}
@media (max-width: 450px){
    .carrete{
        width: 98%;
        height: auto;
        margin: 5px;
        padding: 0px;
        border:solid #c99e10 1px ;
    }
    .nav    {
        justify-content: center;
    }
}
.menucarta{
    width: 400px;
    border: solid black 1px;
    text-align: center;
    margin:30px;
    background: linear-gradient(to bottom right, #c99e10, #6d5300);
    opacity: 0.9;
    border-radius: 8px;

}
.titulopag{
    text-align: center;
    text-decoration: underline;
}
.carta{
    display: flex;
    justify-content: center;
    background-image: url(../complements/images/bgnd-menu.jpg);
    /* background: linear-gradient(to bottom right, #c99e10, #6d5300); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
}
.tabla{
    border: 1px solid black;
    width: 100%;
    text-align: center;

}
.overlay-image {
    position: absolute; /* posiciona la imagen en relación al contenedor del carrusel */
    top: 50%; /* centré la imagen verticalmente */
    left: 50%; /* Centré la imagen horizontalmente */
    transform: translate(-50%, -50%); /* ajusta la imagen para que esté centrada exactamente */
    width: 60%;
    height: auto;
    z-index: 10; /* Pone que la imagen esté por encima del carrusel */
    opacity: 0.7;
  }
.icons{
    width: 50px;
    height: 50px;
}
.card{
    text-align: center;
    background: linear-gradient(green,rgb(9, 73, 9),green);
}
.card-header{
    font-size: large;
}
.chef{
    width: 300px;
    height: auto;
    margin-top: 50px;
    justify-items: center;
    animation: chefrot 3s linear 0s infinite alternate both;

}
@keyframes chefrot{
    from{
        rotate: 15deg;
    }
    to{
        rotate: -15deg;
    }
} 


.tablaprom{
    background-image: url(../complements/images/bgnd-menu.jpg);
    width: 90%;
    margin: auto auto;
    background-size: cover;

}
.card-body, .card{
    background: linear-gradient(to bottom right, #c99e10, #6d5300);
    opacity: 0.95;
    margin-top: 10px;
}
.precio{
    border: 1px solid black;
    border-radius: 8px;
    background: linear-gradient(#8d230f, #1e434c );
    color: #f3e9c6;
    font-size: 18px;
    font-style: oblique;
    position: absolute;
    bottom: 10px; /* Lo coloca 10px desde el borde inferior */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-align: center;
    width: 80%;
    
}
.card-text{
    font-size: 20px;
}
nav>ul>li{
    list-style:none;
}
.titulohom{
    text-align: center;
}